<mat-sidenav-container>
    <mat-sidenav #drawer
                 class="z-depth-1"
                 [style.width.px]="200"
                 fixedInViewport="true"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) ? false : true">
        <mat-toolbar class="z-depth-1 black-text lighten-1 orange">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/products">产品</a>
            <a mat-list-item routerLink="/admin/trips">活动</a>
            <a mat-list-item>Link 3</a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <mat-toolbar class="topNav position-fixed z-depth-1 navbar-light white-text lighten-1 orange" [style.z-index]="2">
            <button type="button" mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>UPARIS</span>
        </mat-toolbar>

        <div [style.marginTop.px]="64">
            <div class="card-body px-0 py-0">
                <router-outlet></router-outlet>
            </div>
        </div>

        <!--<footer class="footer-copyright blue py-3 text-center text-white fixed-bottom">-->
            <!--© 2018 Copyright:-->
            <!--<a class="text-white" href="https://mdbootstrap.com/material-design-for-bootstrap/"> MDBootstrap.com </a>-->
        <!--</footer>-->
    </mat-sidenav-content>
</mat-sidenav-container>
