<mat-toolbar *ngIf="!_disabled">
    <button mat-button (click)="add()">
        <mat-icon>add_box</mat-icon>
        添加新行程
    </button>
</mat-toolbar>
<mat-expansion-panel *ngFor="let itinerary of _product.listItinerary" class="row">
    <mat-expansion-panel-header>
        <mat-panel-title class="col-4 col-md-3 col-lg-2">
            <mat-icon>date_range</mat-icon>
            Day {{itinerary.dayStart}}
            <ng-container *ngIf="itinerary.duration > 1">
                ~ Day {{itinerary.dayStart + itinerary.duration - 1}}
            </ng-container>
        </mat-panel-title>
        <mat-panel-description class="col-8 col-md-9 col-lg-10 px-0">
            <mat-icon>map</mat-icon>
            {{itinerary.movement}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <uparis-itinerary-form class="w-100" [itinerary]="itinerary" [disabled]="_disabled"
                           (durationChange)="prepareSave()"></uparis-itinerary-form>
</mat-expansion-panel>