<div class="row card-body">
    <mat-form-field class="col-6 col-md-1">
        <input matInput type="number" [(ngModel)]="_itinerary.dayStart" name="dayStart" placeholder="开始"
               required min="1">
    </mat-form-field>
    <mat-form-field class="col-6 col-md-1">
        <input matInput type="number" [(ngModel)]="_itinerary.dayEnd" name="dayEnd" placeholder="结束">
    </mat-form-field>

    <mat-form-field class="col-12 col-md-10">
        <input matInput type="text" [(ngModel)]="_itinerary.movement" name="movement" placeholder="地点">
    </mat-form-field>
</div>

<uparis-schedule-form class="row card-body" [listSchedule]="_itinerary.listSchedule"></uparis-schedule-form>