<mat-toolbar *ngIf="!_formHelper.disabled">
    <button mat-button (click)="add('PHOTO')">
        <mat-icon>add_box</mat-icon>
        新照片
    </button>
    <button mat-button (click)="add('VIDEO')">
        <mat-icon>add_box</mat-icon>
        新视频
    </button>
</mat-toolbar>

<div class="card-body z-depth-1" *ngFor="let media of _listMultimedia.controls" [formGroup]="media">
    <mat-form-field class="col-6 col-md-2">
        <input matInput formControlName="id" placeholder="ID" readonly>
    </mat-form-field>
    <mat-form-field class="col-6 col-md-2">
        <mat-select formControlName="type" placeholder="类型" readonly>
            <mat-option [value]="'PHOTO'">照片</mat-option>
            <mat-option [value]="'VIDEO'">视频</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field [class.col-11]="!_formHelper.disabled" [class.col-md-7]="!_formHelper.disabled"
                    [class.col-12]="_formHelper.disabled" [class.col-md-8]="_formHelper.disabled">
        <input matInput type="url" formControlName="srcUrl" placeholder="链接" required>
    </mat-form-field>
    <button mat-icon-button class="col-1" (click)="delete(media)" *ngIf="!_formHelper.disabled">
        <mat-icon>delete</mat-icon>
    </button>
    <mat-form-field class="col-12 col-md-4">
        <input matInput type="text" formControlName="altText" placeholder="替代文本">
    </mat-form-field>
    <mat-form-field class="col-12 col-md-4">
        <input matInput type="text" formControlName="title" placeholder="题目">
    </mat-form-field>
    <mat-form-field class="col-12 col-md-4">
        <input matInput type="text" formControlName="description" placeholder="描述">
    </mat-form-field>
</div>