<ng-template #optionFormTemplate let-item="item" let-index="index">
    <mat-form-field class="col-12">
        <input matInput type="text" [(ngModel)]="item.value.id" name="id" placeholder="ID" disabled>
    </mat-form-field>
    <mat-form-field class="col-12">
        <input matInput type="text" [(ngModel)]="item.value.name" name="name" placeholder="名称">
    </mat-form-field>
    <mat-form-field class="col-12">
        <mat-select placeholder="库存" [(ngModel)]="item.value.stock" name="stock">
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let stock of _listStock | async" [value]="stock">
                库存ID:{{stock.id}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col-12">
        <input matInput type="text" [(ngModel)]="item.value.description" name="description" placeholder="描述">
    </mat-form-field>
</ng-template>

<uparis-stock-table [listStock]="_listStock"></uparis-stock-table>

<mat-toolbar>
    <button type="button" mat-button>
        <mat-icon>add_box</mat-icon>添加新选项
    </button>
    <button type="button" mat-button>
        <mat-icon>save</mat-icon>保存修改
    </button>
</mat-toolbar>
<div class="card-body">
    <div class="row mb-4" *ngFor="let level of getOptionLevels()">
        <div class="col-12 col-md-2 col-lg-1">层级 {{level}}</div>
        <div class="col-12 col-md-10 col-lg-11">
            <bs-sortable
                [(ngModel)]="_mappedListOption[level]"
                [itemTemplate]="optionFormTemplate"
                placeholderItem="拖放到这儿"
                itemClass="hoverable col-12 col-md-4 col-lg-3 float-left"
            ></bs-sortable>
        </div>
        <hr class="my-2 col-12">
    </div>
</div>