.mat-column-id,
.mat-column-actions {
    max-width: 64px;
}

.mat-column-status,
.mat-column-amount {
    max-width: 96px;
}

.mat-column-product,
.mat-column-trip {
    max-width: 128px;
}

.mat-column-reference,
.mat-column-listOption {
    min-width: 160px;
}