.mat-column-id,
.mat-column-trip,
.mat-column-status,
.mat-column-actions,
.mat-column-amount {
    flex-grow: 1;
}

.mat-column-payer,
.mat-column-participant,
.mat-column-reference,
.mat-column-tripProduct {
    flex-grow: 2;
}

.mat-column-listOption {
    flex-grow: 3;
}