<mat-toolbar>
    <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
    </button>
</mat-toolbar>
<mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tripProduct">
        <mat-header-cell *matHeaderCellDef mat-sort-header>产品</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <a [routerLink]="['/admin/products/', row.trip.idProduct]">{{row.trip.nameProduct}}</a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="trip">
        <mat-header-cell *matHeaderCellDef mat-sort-header>出发日期</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <a [routerLink]="['/admin/trips/', row.trip.id]">{{row.trip.dateStart}}</a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="participant">
        <mat-header-cell *matHeaderCellDef mat-sort-header>队员</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.participant.lastName}} {{row.participant.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef mat-sort-header>订单号</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.reference}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>状态</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.status | status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="payer">
        <mat-header-cell *matHeaderCellDef mat-sort-header>付款人</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.payer?.lastName}}{{row.payer?.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="listOption">
        <mat-header-cell *matHeaderCellDef mat-sort-header>购买选项</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <li class="list-unstyled" *ngFor="let option of row.listOption">{{option.name}}</li>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>总额</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.amount | money: row.trip.currency}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
               [pageIndex]="0"
               [pageSize]="50"
               [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>
