.mat-column-id,
.mat-column-gender,
.mat-column-lastName,
.mat-column-wechat,
.mat-column-telephone,
.mat-column-birthday {
    flex-grow: 1;
}

.mat-column-actions,
.mat-column-email {
    flex-grow: 2;
}

.mat-column-address {
    flex-grow: 3;
}