<mat-toolbar>
    <button mat-button (click)="_personForm.enable()" *ngIf="_personForm.disabled">
        <mat-icon>edit</mat-icon>
        修改
    </button>
    <button mat-button (click)="save()" *ngIf="_personForm.enabled">
        <mat-icon>save</mat-icon>
        保存
    </button>
</mat-toolbar>

<section class="card-body white" [formGroup]="_personForm">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 hoverable">
            <mat-form-field class="col-12">
                <input matInput="" formControlName="id" placeholder="ID" readonly>
            </mat-form-field>

            <mat-form-field class="col-12">
                <mat-select formControlName="gender" placeholder="性别" required>
                    <mat-option value="MALE">男</mat-option>
                    <mat-option value="FEMALE">女</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="姓" formControlName="lastName" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="名" formControlName="firstName" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput placeholder="出生日期" formControlName="birthday" required [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="微信ID" formControlName="wechat" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="tel" placeholder="联系电话" formControlName="telephone" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 hoverable">
            <mat-form-field class="col-12">
                <input matInput type="email" placeholder="电子邮箱" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="联系地址" formControlName="address" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="补充地址" formControlName="addressComplement">
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="邮编" formControlName="zipCode" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="城市" formControlName="city" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="国家" formControlName="country" required>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 hoverable">
            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="头像" formControlName="portraitUrl">
            </mat-form-field>

            <mat-form-field class="col-12">
                <mat-select placeholder="授权" formControlName="listGrantedAuthority" multiple>
                    <mat-option value="ROLE_ADMIN">管理员</mat-option>
                    <mat-option value="ROLE_LEADER">领队</mat-option>
                    <mat-option value="ROLE_CLIENT">普通用户</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-12">
                <textarea matInput type="text" placeholder="介绍" formControlName="selfDescription" rows="10"></textarea>
            </mat-form-field>
        </div>
    </div>


    <hr>
    <mat-tab-group color="primary" [style.minHeight.px]="500">
        <mat-tab #tabOrder *ngIf="idPersonClient() && _personForm.disabled">
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabOrder.isActive">library_books</mat-icon>
                <span [class.amber-text]="tabOrder.isActive">订单</span>
            </ng-template>
            <ng-template matTabContent>
                <uparis-order-table [idParticipant]="idPersonClient()"></uparis-order-table>
            </ng-template>
        </mat-tab>

        <mat-tab #tabTrip *ngIf="idPersonLeader()">
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabTrip.isActive">directions_run</mat-icon>
                <span [class.amber-text]="tabTrip.isActive">出队</span>
            </ng-template>
            <ng-template matTabContent>
                ...
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</section>