<mat-toolbar>
    <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button [routerLink]="['/admin/persons', 'new']" *ngIf="!_idTrip">
        <mat-icon>add_box</mat-icon>
        新用户
    </button>
</mat-toolbar>
<mat-table #table [dataSource]="dataSource" matSort multiTemplateDataRows>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header>性别</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.gender | gender}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>姓名</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.lastName}} {{row.firstName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="birthday">
        <mat-header-cell *matHeaderCellDef mat-sort-header>生日</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.birthday}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="wechat">
        <mat-header-cell *matHeaderCellDef mat-sort-header>微信</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.wechat}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>电话</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.telephone}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>邮箱</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>地址</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.addressComplement}} {{row.address}} {{row.zipCode}} {{row.city}} {{row.country}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="listGrantedAuthority">
        <mat-header-cell *matHeaderCellDef>
            <mat-select (selectionChange)="onSelectionChange($event)" *ngIf="!_idTrip">
                <mat-option>全部</mat-option>
                <mat-option value="ROLE_ADMIN">管理员</mat-option>
                <mat-option value="ROLE_LEADER">领队</mat-option>
                <mat-option value="ROLE_CLIENT">普通用户</mat-option>
            </mat-select>
            <ng-container *ngIf="_idTrip">授权</ng-container>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <ul class="list-unstyled my-0">
                <li *ngFor="let authority of row.listGrantedAuthority">{{authority | role}}</li>
            </ul>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button [routerLink]="['/admin/persons', row.id]">
                <mat-icon>search</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
               [pageIndex]="0"
               [pageSize]="50"
               [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>