<ng-container ngForm #priceForm="ngForm">
    <div class="card-body" *ngFor="let price of _listPrice; let index=index">
        <!--<mat-checkbox class="col-4 col-md-2" [disabled]="_formHelper.disabled" (change)="onCheck(price)"-->
                      <!--[checked]="_selectedPrice===price">-->
            <!--<span mat-subheader>展示</span>-->
        <!--</mat-checkbox>-->
        <mat-form-field class="col-6 col-md-3">
            <input matInput [(ngModel)]="price.id" name="id{{index}}" placeholder="ID" disabled>
        </mat-form-field>
        <mat-form-field class="col-6 col-md-3">
            <input matInput [(ngModel)]="price.currency" name="currency{{index}}" placeholder="货币"
                   disabled>
        </mat-form-field>
        <mat-form-field class="col-6 col-md-3">
            <input matInput [(ngModel)]="price.value" name="value{{index}}" placeholder="含税价"
                   [disabled]="_formHelper.disabled" required>
        </mat-form-field>
        <mat-form-field class="col-6 col-md-3">
            <input matInput [(ngModel)]="price.valueAddedTax" name="vat{{index}}" placeholder="税率"
                   [disabled]="_formHelper.disabled">
        </mat-form-field>
    </div>
</ng-container>
