<mat-toolbar>
    <button mat-button (click)="save()" *ngIf="!_formHelper.disabled">
        <mat-icon>save</mat-icon>
        保存修改
    </button>
    <button mat-button (click)="_formHelper.disabled=false" *ngIf="_formHelper.disabled">
        <mat-icon>edit</mat-icon>
        修改产品
    </button>
    <button mat-button (click)="delete()">
        <mat-icon>delete</mat-icon>
        删除产品
    </button>

    <button mat-button (click)="createTrip()" *ngIf="_formHelper.disabled">
        <mat-icon>playlist_add</mat-icon>
        添加出队
    </button>
</mat-toolbar>
<section class="card-body" [formGroup]="_productForm">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 hoverable">
            <mat-form-field class="col-12">
                <input type="text" matInput placeholder="产品ID" formControlName="id">
            </mat-form-field>
            <mat-form-field class="col-12">
                <input type="text" matInput placeholder="产品名" formControlName="name" required>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input type="number" matInput placeholder="时长" formControlName="duration" required>
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-select placeholder="状态" formControlName="status" required>
                    <mat-option value="ACTIVE">{{'ACTIVE' | status}}</mat-option>
                    <mat-option value="INACTIVE">{{'INACTIVE' | status}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input type="text" matInput placeholder="昵称" formControlName="alias">
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-8 col-xl-9 hoverable">
            <mat-form-field class="col-12">
                <textarea matInput placeholder="短介绍" formControlName="shortDescription" rows="3"></textarea>
            </mat-form-field>
            <mat-form-field class="col-12">
                <textarea matInput placeholder="长介绍" formControlName="longDescription" rows="6"></textarea>
            </mat-form-field>
        </div>
    </div>

    <hr>
    <mat-tab-group color="primary" [style.minHeight.px]="500">
        <mat-tab #tabTrip *ngIf="_formHelper.disabled">
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabTrip.isActive">directions_run</mat-icon>
                <span [class.amber-text]="tabTrip.isActive">出队</span>
            </ng-template>
            <ng-template matTabContent>
                <uparis-trip-table [idProduct]="_idProduct"></uparis-trip-table>
            </ng-template>
        </mat-tab>
        <mat-tab #tabSchedule>
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabSchedule.isActive">schedule</mat-icon>
                <span [class.amber-text]="tabSchedule.isActive">行程</span>
            </ng-template>
            <uparis-itinerary-table [formHelper]="_formHelper"
                                    [listItinerary]="_formHelper.listItineraryForm"></uparis-itinerary-table>
        </mat-tab>
        <mat-tab #tabMultimedia>
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabMultimedia.isActive">photo_library</mat-icon>
                <span [class.amber-text]="tabMultimedia.isActive">多媒体</span>
            </ng-template>
            <uparis-multimedia-table [formHelper]="_formHelper"
                                     [listMultimedia]="_formHelper.listMultimediaForm"></uparis-multimedia-table>
        </mat-tab>
    </mat-tab-group>
</section>