<div class="card-body">
    <ng-container *ngFor="let schedule of _listSchedule.controls" [formGroup]="schedule">
        <mat-form-field class="col-6 col-md-1">
            <input matInput placeholder="ID" formControlName="id">
        </mat-form-field>
        <mat-form-field class="col-6 col-md-2">
            <!--<mat-select [(value)]="schedule.time" placeholder="时间">-->
            <!--<mat-option *ngFor="let time of _availableTime" [value]="time">{{time}}</mat-option>-->
            <!--</mat-select>-->
            <input matInput type="text" placeholder="时间" formControlName="time">
        </mat-form-field>
        <mat-form-field [class.col-12]="_formHelper.disabled" [class.col-md-9]="_formHelper.disabled"
                        [class.col-11]="!_formHelper.disabled" [class.col-md-8]="!_formHelper.disabled">
            <input matInput type="text" placeholder="行程" formControlName="activity" required>
        </mat-form-field>
        <button mat-icon-button class="close" *ngIf="!_formHelper.disabled" (click)="delete(schedule)">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-container>
    <button mat-button (click)="add()" *ngIf="!_formHelper.disabled">
        <mat-icon>add_box</mat-icon>
        添加新当日行程
    </button>
</div>
