<mat-toolbar *ngIf="!_formHelper.disabled">
    <button type="button" mat-button (click)="add()">
        <mat-icon>add_box</mat-icon>
        添加新库存
    </button>
</mat-toolbar>
<div class="card-body">
    <div *ngFor="let stock of _listStockForm.controls" [formGroup]="stock"
         class="hoverable col-12 col-md-4 col-lg-3 col-xl-2 float-left pt-2">
        <mat-form-field class="col-6">
            <input matInput placeholder="ID" formControlName="id" readonly>
        </mat-form-field>
        <mat-form-field class="col-6">
            <input matInput type="number" placeholder="数量" formControlName="quantity" required>
        </mat-form-field>
        <mat-form-field class="col-12">
            <input matInput placeholder="名称" formControlName="name" required>
        </mat-form-field>
    </div>
</div>