<mat-toolbar>
    <button mat-button (click)="save()" *ngIf="!_formHelper.disabled">
        <mat-icon>save</mat-icon>
        保存
    </button>
    <button mat-button (click)="_formHelper.disabled=false" *ngIf="_formHelper.disabled">
        <mat-icon>edit</mat-icon>
        修改
    </button>
    <button mat-button (click)="delete()">
        <mat-icon>delete</mat-icon>
        删除
    </button>
</mat-toolbar>

<section class="card-body white" [formGroup]="_tripForm">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 hoverable">
            <mat-form-field class="col-12">
                <input matInput placeholder="ID" formControlName="id" readonly>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput placeholder="产品" formControlName="nameProduct" readonly>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput placeholder="出发日期" formControlName="dateStart"
                       (dateChange)="onDateStartChange($event.value)"
                       [matDatepicker]="pickerStart" required>
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart color="primary"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput placeholder="返回日期" formControlName="dateEnd" readonly>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="url" formControlName="urlCodeQR" placeholder="二维码链接">
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 hoverable">
            <mat-form-field class="col-12">
                <input matInput type="number" placeholder="库存" formControlName="stock" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="number" placeholder="单价" formControlName="price" required>
            </mat-form-field>

            <mat-form-field class="col-12">
                <mat-select placeholder="货币" formControlName="currency" required>
                    <mat-option value="EUR">EUR</mat-option>
                    <mat-option value="RMB">RMB</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-12">
                <input matInput type="number" placeholder="增值税率" formControlName="priceVAT">
            </mat-form-field>

        </div>
    </div>

    <hr>
    <mat-tab-group color="primary" [style.minHeight.px]="500">
        <mat-tab #tabOrder *ngIf="_formHelper.disabled">
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabOrder.isActive">library_books</mat-icon>
                <span [class.amber-text]="tabOrder.isActive">订单</span>
            </ng-template>
            <ng-template matTabContent>
                <uparis-order-table [idTrip]="_tripForm.value.id"></uparis-order-table>
            </ng-template>
        </mat-tab>

        <mat-tab #tabParticipant *ngIf="_formHelper.disabled">
            <ng-template mat-tab-label="">
                <mat-icon [class.text-amber]="tabParticipant.isActive">person_outline</mat-icon>
                <span [class.text-amber]="tabParticipant.isActive">队员</span>
            </ng-template>
            <ng-template matTabContent>
                <uparis-person-table [idTrip]="_tripForm.value.id"></uparis-person-table>
            </ng-template>
        </mat-tab>

        <mat-tab #tabOption>
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabOption.isActive">format_list_numbered</mat-icon>
                <span [class.amber-text]="tabOption.isActive">选项</span>
            </ng-template>
            <uparis-stock-table class="row w-100" [formHelper]="_formHelper"
                                [listStockForm]="_formHelper.listStockForm"></uparis-stock-table>
            <uparis-option-table class="row w-100" [formHelper]="_formHelper"
                                 [listStockForm]="_formHelper.listStockForm"
                                 [listOptionForm]="_formHelper.listOptionForm"></uparis-option-table>
        </mat-tab>

        <mat-tab #tabQuestion>
            <ng-template mat-tab-label>
                <i [class.amber-text]="tabQuestion.isActive" class="fa fa-lg fa-question-circle-o mr-1"></i>
                <span [class.amber-text]="tabQuestion.isActive">报名表</span>
            </ng-template>
            <uparis-question-table class="row w-100" [formHelper]="_formHelper"
                                   [listQuestionForm]="_formHelper.listQuestionForm"></uparis-question-table>
        </mat-tab>

        <mat-tab #tabPortrait>
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabPortrait.isActive">portrait</mat-icon>
                <span [class.amber-text]="tabPortrait.isActive">领队</span>
            </ng-template>
            <p>...</p>
        </mat-tab>

        <mat-tab #tabPrice>
            <ng-template mat-tab-label>
                <mat-icon [class.amber-text]="tabPrice.isActive">euro_symbol</mat-icon>
                <span [class.amber-text]="tabPrice.isActive">费用</span>
            </ng-template>
            <p>...</p>
        </mat-tab>
    </mat-tab-group>
</section>