<mat-toolbar>
    <button mat-button (click)="add()">
        <mat-icon>add_box</mat-icon>
        添加新活动
    </button>
</mat-toolbar>
<mat-table #table [dataSource]="_dataSource" matSort>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="idProduct">
        <mat-header-cell *matHeaderCellDef mat-sort-header>产品</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nameProduct}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateStart">
        <mat-header-cell *matHeaderCellDef mat-sort-header>出发日期</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dateStart}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef mat-sort-header>库存</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.stock}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mainPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>价格</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mainPrice.value | currency: element.mainPrice.currency}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/admin/trips', element.id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="_displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: _displayedColumns"></mat-row>
</mat-table>

<mat-paginator #paginator
               [pageIndex]="0"
               [pageSize]="50"
               [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>