<mat-card *ngFor="let product$ of listProduct$; trackBy: trackByProducts">
    <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>{{product$.name}}</mat-card-title>
        <mat-card-subtitle>{{product$.alias}}</mat-card-subtitle>
    </mat-card-header>

    <ngb-carousel>
        <ng-template ngbSlide>
            <img mat-card-image src="https://source.unsplash.com/random/800x600">
            <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img mat-card-image src="https://source.unsplash.com/random/800x600">
            <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img mat-card-image src="https://source.unsplash.com/random/800x600">
            <div class="carousel-caption">
                <h3>And no wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
            </div>
        </ng-template>
    </ngb-carousel>


    <mat-card-content>
        <p>{{product$.shortDescription}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [routerLink]="['/eshop/products', product$.id]">Details</button>
    </mat-card-actions>
</mat-card>