<p>
    {{_trip$.nameProduct}} works!
    {{_number$}} works!
</p>
<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step *ngFor="let item of arrays(_number$); let index=index;">
        <ng-template matStepLabel>队员报名{{index+1}}</ng-template>
        <uparis-option-selector [listOption$]="_trip$.mappedListOption"></uparis-option-selector>
        <uparis-person-form></uparis-person-form>
        <div>
            <button mat-button matStepperPrevious color="accent" *ngIf="index>0">上一步</button>
            <button mat-button matStepperNext type="submit" color="primary">下一步</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>付款信息</ng-template>
        <div>
            <button mat-button matStepperPrevious color="accent">上一步</button>
        </div>
    </mat-step>
</mat-vertical-stepper>
