<div class="z-depth-1 py-5 mb-5 px-5 row">
    <div class="col-12 col-md-3 text-center text-md-left">{{_trip.nameProduct}}</div>
    <div class="col-12 col-md-3 text-center text-md-left">{{_trip.dateStart}}
        <ng-container *ngIf="_trip.dateEnd != _trip.dateStart"> ~ {{_trip.dateEnd}}</ng-container>
    </div>
    <div class="col-12 col-md-3 text-center text-md-left">
        {{_trip.price | currency: _trip.currency}}
    </div>
    <div class="col-12 col-md-3 text-center text-md-right">
        <uparis-number-picker [initValue]="_number" [min]="1" [max]="_trip.stock"
                              (onChange)="number=$event" [enabled]="stepper.selectedIndex==0"
        ></uparis-number-picker>
    </div>
</div>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="_listCheckoutForm" #stepRegister>
        <ng-template matStepLabel>报名</ng-template>
        <div class="row">
            <form *ngFor="let checkoutForm of _listCheckoutForm.controls; let index=index;"
                  [formGroup]="checkoutForm"
                  class="col-12 col-md-6 col-xl-4 card ">
                <div class="card-body text-left">
                    <uparis-option-selector
                        [listOption]="_trip.listOption"
                        [optionForm]="checkoutForm.get('option')">
                    </uparis-option-selector>
                    <hr>
                    <uparis-person-form [personForm]="checkoutForm.get('participant')"></uparis-person-form>
                </div>
            </form>
        </div>

        <button mat-raised-button matStepperNext
                class="mt-5"
                color="primary" (click)="subscribe()">
            下一步<i class="fa fa-arrow-circle-right fa-lg"></i></button>
    </mat-step>
    <mat-step #stepConfirm>
        <ng-template matStepLabel>确认</ng-template>
        <div class="row">
            <uparis-person-card
                *ngFor="let order of _listOrder"
                class="col-12 col-md-6 col-xl-4 "
                [person]="order.participant"
                [listOption]="order.listOption"
            ></uparis-person-card>
        </div>

        <div class="row mt-5">
            <mat-checkbox color="primary" class="col-12 " #accept>
                我已认真阅读并接受使用此<a><u>服务协议</u></a>
            </mat-checkbox>
        </div>

        <button mat-raised-button matStepperPrevious color="warn" class="mt-5">
            <i class="fa fa-arrow-circle-left fa-lg"></i>上一步
        </button>
        <button mat-raised-button matStepperNext class="mt-5" color="primary"
                [disabled]="!accept.checked" (click)="createOrders()">
            下一步<i class="fa fa-arrow-circle-right fa-lg"></i></button>
    </mat-step>
    <mat-step #stepPayment *ngIf="displayPayment">
        <ng-template matStepLabel>付款</ng-template>
    </mat-step>
    <mat-step #stepFailure>
        <ng-template matStepLabel>失败</ng-template>

    </mat-step>
    <mat-step #stepSuccess>
        <ng-template matStepLabel>成功</ng-template>

    </mat-step>
</mat-horizontal-stepper>
