<header>
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-sm navbar-light white scrolling-navbar"
                [containerInside]="true">
        <logo>
            <a class="logo navbar-brand" href="#"><strong>UPARIS</strong></a>
        </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="">首页</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="products">产品</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>
<main id="main" class="text-center container" [style.marginTop.px]="90">
    <router-outlet></router-outlet>
</main>

<footer id="footer" class="page-footer center-on-small-only pt-0">
    <div class="text-center py-4 amber darken-1">

        <a class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Newsletter
            <i class="fa fa-envelope white-text ml-2"> </i>
        </a>
        <a data-toggle="modal" data-target="#contactForm"
           class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">Contact
            <i class="fa fa-envelope white-text ml-2"> </i>
        </a>
        <a><i class="fa fa-github white-text mr-4"> </i></a>
        <a><i class="fa fa-youtube white-text mr-4"> </i></a>
        <a><i class="fa fa-facebook white-text mr-4"> </i></a>
        <a><i class="fa fa-twitter white-text mr-4"> </i></a>
    </div>

    <div class="footer-copyright py-1 text-center amber darken-2 position-sticky ">
        <p>
            © 2013-2018 Copyright:
            <a href="https://www.uparisclub.com">
                <strong>uparisclub.com</strong>
            </a>
        </p>
        <div class="font-small font-italic">
            Version 1.0.0-beta, built and designed by <strong>LIU Yanxi</strong>
        </div>
    </div>
</footer>