.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    flex-basis: 0;
}

.mat-expansion-panel-header-description {
    //justify-content: space-between;
    //align-items: center;
    //flex-grow: 6;
}

.mat-action-row {
    padding: 0px;
}

mat-list {
    padding-top: 0px;
}

mat-list .mat-list-item {
    height: 32px;
}
