<ng-container [formGroup]="_optionForm">
    <p class="col-12 text-center text-md-left">活动选项</p>
    <mat-form-field *ngFor="let key of getKeys()" class="col-12">
        <mat-select [formControlName]="'option'+key"
                    (valueChange)="selectOption($event)">
            <mat-select-trigger>
                <span class="d-flex">
                    {{selectedOption(key)?.name}}
                    <strong class="col text-right">{{selectedOption(key)?.price | money: _trip.currency}}</strong>
                </span>
            </mat-select-trigger>

            <mat-option *ngFor="let option of _mappedListOption[key]"
                        [value]="option" [disabled]="option.stock?.quantity===0">
                <span class="d-flex">
                    {{option.name}}
                    <strong class="col text-right">
                        {{option.price | money : _trip.currency}}
                    </strong>
                </span>
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="selectedOption(key) && selectedOption(key).stock">
            <ng-container *ngIf="selectedOption(key).stock.quantity<5">
            <span class="red-text">
                该活动选项只剩最后<span class="black-text">{{selectedOption(key).stock.quantity}}</span>个名额
            </span>
            </ng-container>
            <ng-container *ngIf="selectedOption(key).stock.quantity>=5">
                该活动选项还有<span class="amber-text">{{selectedOption(key).stock.quantity}}</span>个名额
            </ng-container>
        </mat-hint>
    </mat-form-field>
</ng-container>
