<section class="row">
    <div class="col-12 col-md-6 col-xl-4 mb-3 mx-auto card">
        <div class="card-header h5-responsive white">
            根据订单查找
        </div>
        <div class="card-body">
            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="订单号">
            </mat-form-field>
            <button mat-raised-button color="primary">
                <mat-icon>search</mat-icon>
                查找
            </button>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3 mx-auto card">
        <div class="card-header h5-responsive white">
            根据队员查找
        </div>
        <div class="card-body">
            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="名">
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput placeholder="生日" [matDatepicker]="picker" (focus)="picker.opened=true">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput type="text" placeholder="微信">
            </mat-form-field>
            <button mat-raised-button color="primary">
                <mat-icon>search</mat-icon>
                查找
            </button>
        </div>
    </div>

</section>

<section class="row"></section>