<section class="card mb-3 animated bounceInDown">
    <div class="card-body row">
        <div class="col-12 h5-responsive">
            <span class="col-6">{{_order.trip?.nameProduct}}</span>
            <span class="col-6">{{_order.trip?.dateStart}}出发</span>
        </div>
        <div class="col-12 col-md-6 d-flex mt-3">
            <span class="col text-left">订单编号</span>
            <span class="col red text-white">{{_order.reference}}</span>
        </div>
        <div class="col-12 col-md-6 d-flex mt-3">
            <span class="col text-left">订单状态</span>
            <span class="col amber text-white">{{_order.status | status}}</span>
        </div>
        <div *ngIf="_order.status==='SUCCESS'" class="col-12 mt-5">
            <p class="text-success">请扫描二维码加入微信群</p>
            <img [src]="_order.trip.urlCodeQR" class="img-fluid" alt="微信群二维码">
        </div>
    </div>
</section>
<section class="row animated fadeInLeftBig">
    <div class="col-12 col-md-6 col-xl-4 mb-3" *ngFor="let order of _listOrder">
        <div class="card">
            <uparis-person-card
                #person
                class="card-body"
                [person]="order.participant">
            </uparis-person-card>

            <uparis-answer-list
                *ngIf="order.listAnswer.length>0"
                class="card-body"
                [styleBlue]="person.styleMale"
                [listAnswer]="order.listAnswer"
            ></uparis-answer-list>

            <uparis-option-list
                *ngIf="order.listOption.length>0"
                class="card-body"
                [trip]="order.trip"
                [listOption]="order.listOption"
                [styleBlue]="person.styleMale">
            </uparis-option-list>
            <div class="card-body" *ngIf="_order.status==='PENDING'">
                <mat-checkbox
                    #slide
                    color="primary"
                    [checked]="_payer===order.participant"
                    (change)="selectPayer($event, order.participant)"
                    [class.red-text]="slide.checked && !person.styleMale"
                    [class.blue-text]="slide.checked && person.styleMale">
                    使用此人信息付款
                </mat-checkbox>
            </div>
        </div>
    </div>
</section>
<section class="row animated slideInUp" *ngIf="_order.status==='PENDING'">
    <div class="col-12 col-md-6 col-xl-8 mb-3" *ngIf="!_payer">
        <div class="card">
            <div class="card-header h5-responsive white">
                付款人
            </div>
            <uparis-person-form class="card-body" [personForm]="_payerForm"></uparis-person-form>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3 mr-auto">
        <div class="card">
            <div class="card-header h5-responsive white">
                付款方式
            </div>
            <uparis-payment-form [paymentForm]="_paymentForm" class="card-body"></uparis-payment-form>
            <div class="card-footer white">
                <button mat-raised-button color="primary" (click)="pay()">
                    <mat-icon>payment</mat-icon>
                    确认付款
                </button>
            </div>
        </div>
    </div>
</section>