<ng-container [formGroup]="_paymentForm">
    <mat-radio-group class="col-12" formControlName="paymentMode">
        <div class="text-left pl-3">
            <mat-radio-button color="primary" value="CARD" checked disableRipple>在线支付</mat-radio-button>
        </div>
        <div class="text-left pl-3">
            <mat-radio-button color="primary" value="CASH">现金支付</mat-radio-button>
        </div>
    </mat-radio-group>

    <section [ngSwitch]="_paymentForm.value.paymentMode">
        <ng-container *ngSwitchCase="'CARD'">
            <mat-form-field class="col-12">
                <input matInput placeholder="卡号">
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput placeholder="持卡人">
            </mat-form-field>
            <mat-form-field class="col-3 pr-0">
                <input matInput placeholder="MM">
                <span matSuffix>/</span>
            </mat-form-field>
            <mat-form-field class="col-3 pl-0">
                <input matInput placeholder="YY">
            </mat-form-field>
            <mat-form-field class="col-6">
                <input matInput placeholder="CVV">
            </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="'CASH'">
            <span>您已选择现金付款，请于24小时内前往巴黎户外大本营付款</span>
        </ng-container>
    </section>
</ng-container>