<ng-container [formGroup]="_paymentForm">
    <mat-radio-group class="col-12" formControlName="paymentMode" (change)="onPaymentModeChange($event)">
        <div class="text-left pl-3">
            <mat-radio-button color="primary" value="STRIPE" checked>
                在线支付
                <i class="fa fa-cc-stripe"></i>
            </mat-radio-button>
        </div>
        <div class="text-left pl-3">
            <mat-radio-button color="primary" value="CASH">
                现金支付
                <i class="fa fa-money"></i>
            </mat-radio-button>
        </div>
    </mat-radio-group>

    <section [ngSwitch]="_paymentForm.value.paymentMode" class="text-left">
        <ng-container *ngSwitchCase="'STRIPE'" [formGroup]="_cardForm">
            <mat-form-field class="col-12">
                <input matInput placeholder="卡号" formControlName="cardNumber" required>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input matInput placeholder="持卡人" formControlName="holder">
            </mat-form-field>
            <mat-form-field class="col-3 pr-0">
                <input matInput placeholder="MM" formControlName="expiryMonth" required>
                <span matSuffix>/</span>
            </mat-form-field>
            <mat-form-field class="col-3 pl-0">
                <input matInput placeholder="YY" formControlName="expiryYear" required>
            </mat-form-field>
            <mat-form-field class="col-6">
                <input matInput placeholder="CVV" formControlName="cardVerificationValue" required>
            </mat-form-field>

            <span *ngIf="_paymentForm.hasError('402')" class="col-12 red-text font-small">您的银行卡信息有误，请检查后重新输入</span>
        </ng-container>
        <ng-container *ngSwitchCase="'CASH'">
            <div class="col-12">
                <p>您已选择现金付款，请于<strong class="text-danger">48小时</strong>内前往巴黎户外大本营付款。</p>
                <p>地址：22 rue lahire 75013 Paris France</p>
                <p class="text-danger">请注意，在您付款成功前，您的名额将无法得到保证。</p>
            </div>
        </ng-container>
    </section>
</ng-container>