<mat-card [style.maxWidth.px]="350" [class.z-depth-5]="true"
          *ngFor="let product of listProduct$; trackBy: trackByProducts;">
    <mdb-carousel [isControls]="true" [animation]="'slide'">
        <mdb-slide *ngFor="let slide of product.listPicture">
            <img class="d-block w-100" [src]="slide.srcUrl" alt="First slide">
            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <p>{{slide.description}}</p>
            </div>
        </mdb-slide>
    </mdb-carousel>

    <mat-card-content>
        <h4 class="card-title">{{product.name}}</h4>
        <p>{{product.shortDescription}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [routerLink]="['/eshop/products', product.id]">Details
        </button>
    </mat-card-actions>
</mat-card>