<div class="container z-depth-1 px-2 py-2 mb-5">
    <div class="row">
        <div class="col-lg-6">
            <mdb-carousel>
                <mdb-slide *ngFor="let slide of _product.listMultimedia">
                    <div class="view">
                        <img class="d-block w-100 rounded-circle" [src]="slide.srcUrl">
                        <div class="mask waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h4>{{slide.title}}</h4>
                        <p>{{slide.description}}</p>
                    </div>
                </mdb-slide>
            </mdb-carousel>
        </div>
        <div class="col-lg-5 mx-3 text-center text-md-left">
            <uparis-shopping-cart [product]="_product"></uparis-shopping-cart>
        </div>
    </div>
</div>
<mat-tab-group color="primary" class="mt-5">
    <mat-tab #tabSchedule>
        <ng-template mat-tab-label>
            <mat-icon [class.amber-text]="tabSchedule.isActive">schedule</mat-icon>
            <span [class.amber-text]="tabSchedule.isActive">行程</span>
        </ng-template>
        <ng-template matTabContent>
            <uparis-itinerary-list [listItinerary]="_product.listItinerary"></uparis-itinerary-list>
        </ng-template>
    </mat-tab>
    <mat-tab #tabPortrait>
        <ng-template mat-tab-label>
            <mat-icon [class.amber-text]="tabPortrait.isActive">portrait</mat-icon>
            <span [class.amber-text]="tabPortrait.isActive">领队</span>
        </ng-template>
        <p>...</p>
    </mat-tab>
    <mat-tab #tabPrice>
        <ng-template mat-tab-label>
            <mat-icon [class.amber-text]="tabPrice.isActive">euro_symbol</mat-icon>
            <span [class.amber-text]="tabPrice.isActive">费用</span>
        </ng-template>
        <p>...</p>
    </mat-tab>
    <mat-tab #tabEquipment>
        <ng-template mat-tab-label>
            <mat-icon [class.amber-text]="tabEquipment.isActive">card_travel</mat-icon>
            <span [class.amber-text]="tabEquipment.isActive">装备</span>
        </ng-template>
        <p>...</p>
    </mat-tab>
    <mat-tab #tabInfo>
        <ng-template mat-tab-label>
            <mat-icon [class.amber-text]="tabInfo.isActive">info</mat-icon>
            <span [class.amber-text]="tabInfo.isActive">其他信息</span>
        </ng-template>
        <p>...</p>
    </mat-tab>
</mat-tab-group>