<div class="container z-depth-1 px-2 py-2 mb-5">
    <div class="row">
        <div class="col-lg-6">
            <mdb-carousel>
                <mdb-slide *ngFor="let slide of product.listPicture">
                    <div class="view">
                        <img class="d-block w-100 rounded-circle" [src]="slide.srcUrl">
                        <div class="mask waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption">
                        <h4>{{slide.title}}</h4>
                        <p>{{slide.description}}</p>
                    </div>
                </mdb-slide>
            </mdb-carousel>
        </div>
        <div class="col-lg-6 text-center text-md-left"></div>
    </div>
</div>
<mat-tab-group color="primary" class="mt-5">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>schedule</mat-icon>
            Schedule
        </ng-template>
        <ng-template matTabContent>
            <uparis-itinerary-list [listItinerary]="product.listItinerary"></uparis-itinerary-list>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>portrait</mat-icon>
            Leaders
        </ng-template>
        <p>...</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>euro_symbol</mat-icon>
            Price
        </ng-template>
        <p>...</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>card_travel</mat-icon>
            Equipment
        </ng-template>
        <p>...</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>info</mat-icon>
            Tips
        </ng-template>
        <p>...</p>
    </mat-tab>
</mat-tab-group>